@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 0 !important;
}

html, body {
 font-family: 'Poppins', sans-serif !important;
}

.lh-0 {
  line-height: .5rem !important;
}

.home {
 width: 100%;
 height: 100vh;
 position: relative;
 top: 0;
 left: 0;
 background-image: linear-gradient(to left, #0f267b98, #053c5c98), url('../images/bg-hero.jpg');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}

/** NAVIGATION */
nav {
 position: fixed;
 top: 0;
 left: 0;
 display: flex;
 width: 100%;
 justify-content: space-between;
 height: 100px;
 padding: 2rem 5rem;
 transition: all 250ms ease-in;
}

nav h5 {
 color: white;
 font-size: 1.3rem;
}

nav ul {
 position: relative;
 display: flex;
 text-decoration: none;
 list-style: none;
 align-items: center;
 height: 100%;

}

li {
 position: relative;
 display: flex;
 align-items: center;

}

nav ul li a {
 text-decoration: none;
 padding: .5rem 1.2rem;
 color: white;
 align-items: center;
 display: flex;
 transition: all 150ms ease-in;
 margin-left: 2px;
}

nav ul li a:hover{
 background: rgb(32, 133, 228);
 border-radius: 20px;
 color: rgb(240, 240, 240);
}

.scrolled {
 width: 100%;
 height: 70px;
 background: rgb(255, 255, 255);
 color: black;
 box-shadow: 0px 0px 5px rgba(31, 31, 31, 0.507);
 padding: 1.5rem 5rem;
 z-index: 2;
}

.scrolled h5 {
 color: rgb(24, 24, 24);
 font-size: 1.3rem;
}

.scrolled ul {
 display: flex;
 align-items: center;
 height: 100%;
}

.scrolled ul li a {
 color: rgb(24, 24, 24);
}

.credit {
 position: absolute;
 display: flex;
 align-items: center;
 bottom: 1rem;
 left: 5rem;
}

.credit img{
 width: 60px;
 height: auto;
}

.credit p {
 width: 60%;
 color: white;
 font-weight: 400;
 line-height: 1rem;
}

.footer {
 position: relative;
 bottom: 0;
 left: 0;
 background-color:rgb(32, 133, 228);
 width: 100%;
 height: 40px;
 margin-top: 20px;
 display: flex;
 align-items: center;
 justify-content: center;
 color: white;
}
/** FONT */
.heading {
 font-size: 3.5rem;
}

/** SERVICE CARD**/
.card-img {
 display: flex;
 justify-content: center;
 font-size: 3.5rem;
 color:rgb(32, 133, 228)
}


/** CUSTOM COLORS */

.sidenav {
 position: fixed;
 left: 0;
 top: 0;
 height: 100vh;
 width: 250px;
 background-image: linear-gradient(to top, #183B96, #2883B7);
}

.sidenav .logo {
 height: auto;
 max-width: 180px;
 position: relative;
 margin-left: 10%;

}

.sidenav a{
 display: flex;
 padding: 15px 40px;
 color: rgb(245, 245, 245);
 text-decoration: none;
}

.sidenav a:hover {
 background: #659adbc2;
 color: white;
}

.sidenav a i {
 margin-right: 12px;
}

.router-link-active {
 background: #5b9cec;
}

.close {
 outline: none !important;
 border: 0px !important;
 background: white !important;
 font-size: 1.2rem !important;
}

.navigation {
 background-color: rgb(255, 255, 255);
 width: calc(100% - 250px);
 right: 0;
 top: 0;
 position: fixed;
 height: 70px;
 padding: 10px 15px;
 box-shadow: 0px 4px 5px rgba(44, 44, 44, 0.068);
 display: flex;
 flex-direction: row;
 align-items: center;
 z-index: 2;
}

.username {
 margin-left: 10px;
}

.content-container {
 margin-left: 285px;
 margin-top: 75px;
}

.btn-toggle {
 display: none !important;
}

.bi-2x {
 font-size: 1.35rem;
}

.closenav {
 position: absolute;
 top: 5%;
 right: 10%;
 font-weight: 600;
 color: white;
 cursor: pointer;
 display: none;
}

.toggleNav {
 width: 100% !important;
 transition: all 250ms;
 text-align: center;
 z-index: 10;
}

.toggleNav a{
 padding: 12px 30px !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-transparent:hover {
  background-color: #659adbc2 !important;
}

.bg-custom-info {
  background-color: #22aae0 !important;
}

.bg-custom-warning {
  background-color: #e6a414 !important;
}

/**  SCROLL BAR */
::-webkit-scrollbar {
 width: 7px;
 height: 5px;
}

::-webkit-scrollbar-track {
 box-shadow: inset 0 0 7px rgb(219, 219, 219); 
 border-radius: 0px;
}

::-webkit-scrollbar-thumb {
 background: #2a6be2; 
 border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
 background: #2b8ce6; 
}

@media only screen and (max-width: 892px) {
 .sidenav {
  width: 200px;
 }
 
 .navigation {
  width: calc(100% - 200px);
 }

 .content-container {
  margin-left: 205px;
  margin-top: 75px;
 }
}

@media only screen and (max-width: 624px) {
 .btn-toggle {
  display: block !important;
 }

 .closenav {
   display: block !important;
 }

 .sidenav {
  width: 0px;
 }

 .sidenav a {
  padding: 0px;
 }

 .navigation {
  width: 100%;
 }

 .content-container {
  margin-left: 5px;
  margin-top: 75px;
 }
}
